body {
  background-image: url("../images/back3.png");
  background-repeat: repeat;
  background-size:cover;
 }
 nav1 ul {
  list-style-type: none;
  margin:0px 10px 0px 0px;
  padding:0%
 }
 nav1 ul li{
  float:right;
  padding:10px 4px 0px 4px;
 }
 button.btn1{
    background-color: #333;
    width: 70px;
    height: 30px;
    border-radius:10px;
    color:#fff;
    cursor:pointer;
 }
 button.btn2{
  background-color: red;
  width: 80px;
  height: 50px;
  border-radius:6px;
  color:#fff;
  cursor:pointer;
  margin-left: 90%;
 
}
button.btn2:hover {
  opacity: 0.7;
}

button.btn1:hover {
  opacity: 0.7;
}   
 

.logo{
  display:block;
  width: 250px;
  height: 150px;
  margin-right: 300px;
  margin-left: 650px;
  margin-top: 0%;
  
}

hr{
  border: 1px solid black;
  margin-left:-1%;
  margin-right: -1%;
}

ul.menu {
  list-style-type: none;
  margin-left:-1%;
  margin-right: -1%;
  padding: 0;
  overflow: hidden;
  background-color:#333;
  margin-top: -1%;
}
li.menu {
  float:left;
  margin-left:3% ;
  padding-left : 30px;
}
li a {
  display:block;
  color: white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to goldon hover */
li a:hover {
  background-color:gold;
}
#cat{
  color: black;
 
}
img.laptop{
  width: 350px;
  height: 300px;
  border-radius: 4%;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(153, 134, 22);
  
}
img.phone{
  width:350px;
  height: 300px;
  border-radius: 4%;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(153, 134, 22);
  
}
img.electronics{
  width: 350px;
  height:300px;
  border-radius: 4%;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(153, 134, 22);
 
  
}
img.furniture{
  width: 350px;
  height:300px;
  border-radius: 4%;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(153, 134, 22);
  

}
img.watches{
  width: 350px;
  height:300px;
  border-radius: 4%;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(153, 134, 22);
  }
img.jewellery{
    width: 350px;
    height:300px;
    border-radius: 4%;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(153, 134, 22);
}
img.arts{
      width: 350px;
      height:300px;
      border-radius: 4%;
      border-style: solid;
      border-width: 2px;
      border-color:rgb(153, 134, 22);
}
img.sculpture{
  width: 350px;
  height:300px;
  border-radius: 4%;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(153, 134, 22);
}

img.pay{
  width:1500px;
  height: 100px;
  border-radius: 0%;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(153, 134, 22);
  
}
li.title {
  float:left;
  margin-left:5% ;
  margin-right:8% ;
  padding-left : 30px;
  font-size: 20px;

}
li.title1 {
  float:left;
  margin-left:8% ;
  margin-right:8% ;
  padding-left : 30px;
  font-size: 20px;

}
img.laptop:hover {
  opacity: 0.7;
}
img.phone:hover {
  opacity: 0.7;
}
img.electronics:hover {
  opacity: 0.7;
}
img.furniture:hover {
  opacity: 0.7;
}
img.watches:hover {
  opacity: 0.7;
}
img.jewellery:hover {
  opacity: 0.7;
}
img.arts:hover {
  opacity: 0.7;
}
img.sculpture:hover {
  opacity: 0.7;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left:4%;
  margin-right: 0%;
  text-align: center;
  font-family: arial;
  display:inline-block;
}

.price {
  color: red;
  font-size: 22px;
}

.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(17, 15, 15);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card1 button:hover {
  opacity: 0.5;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin-left:4%;
  margin-right: 0%;
  text-align: center;
  font-family: arial;
  display:inline-block;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 500px;
  height: 500px;
  position:relative;
  margin-left: 0%;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color:black;
}
.slideshow-container-apple {
  width: 500px;
  height: 500px;
  position:relative;
  margin-left: 0%;
  margin-right: auto;
  border-style: none;
  border-width: 2px;
  border-color:black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:0%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: gold;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: gold;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.itemname{
    color:red ;
    text-align: center;
    margin-left:35%;
    margin-right:0%;
    margin-top: -28%;
}
img.brandlogo{
  width: 150px;
  height:40px;
  margin-left:50%;
  margin-right:0%;
  margin-top: 0%;
  
}
img.brandlogo-huwawei{
  width: 300px;
  height:90px;
  margin-left:50%;
  margin-right:0%;
  margin-top: 0%;
  
}

img.brandlogo-msi{
  width: 300px;
  height:100px;
  margin-left:50%;
  margin-right:0%;
  margin-top: 0%;
  
}
img.brandlogo-apple{
  width: 100px;
  height:100px;
  margin-left:50%;
  margin-right:0%;
  margin-top: 0%;
  
}
img.brandlogo-dell{
  width: 100px;
  height:100px;
  margin-left:50%;
  margin-right:0%;
  margin-top: 0%;
  
}

.baseprice{

    color:black ;
    text-align: center;
    margin-left:0%;
    margin-top: 0%;
    font-size: 30px;
    
}
.productData{
  background-color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 1px;
}

img.overwiew2{
  
  margin-top: -0.4%;
  width: 100%;
}
img.overwiewx{
  
  height: 700px;
  width: 700px;
}
img.brandlogowatch{
  width: 150px;
  height:100px;
  margin-left:70%;
  margin-right:0%;
  margin-top: 0%;
  
}
img.brandlogowatch2{
  width: 150px;
  height:100px;
  margin-left:45%;
  margin-right:0%;
  margin-top: 0%;
  
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position:relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: rgb(2, 1, 1);
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position:absolute;
  top: 10px;
  right: 15px;
  color: red;
  font-size: 90px;
  cursor: pointer;
}

img.photo{
  width: 400px; ;
  height:400px;
  border-radius: 4%;
  border-style: solid;
  border-width: 5px;
  border-color:black;
 margin-left: 5%;
  
}
#sub:hover{

  opacity: 0.7;
  cursor: pointer;
}