body {
    background-size: cover;
    background-position: center;
    margin: 0px;
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
    
}
/* notification button , sign up , login  bar */



nav1 ul {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 0;  
}

    nav1 ul li {
        float: right;
        padding: 10px 4px 0px 4px;
    }

.btn1 {
    width: 70px;
    height: 30px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}


/*logo */
.logo {
    width: 200px;
    height: 150px;
    margin-left: 680px;
    overflow: hidden;
}

    .logo img {
        width: 100%;
        height: auto;
    }
/* Menu bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

    nav ul li {
        float: left;
       
    }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }



            nav ul li a:hover {
                background-color: darkgoldenrod;
            }

nav2 ul li.active {
    background-color: darkgoldenrod;
}

#para1 {
    padding-left: 250px;
}

/*search bar and search button*/

nav .search-container {
    float: right;
    padding-left: 200px;
}

nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

nav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

    nav .search-container button:hover {
        background: #ccc;
    }



/* form */



.reg {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px;
   
    box-shadow: 0 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.reg h1{
    font-weight:500;
    text-align:center;
}
.reg form{
    margin-top:30px;
}
.input-box{
    width:100%;
    margin-top:20px;
}
.input-box lebel{
    color:#333;
}
.input-box input{
    position:relative;
    height:50px;
    width:100%;
    outline:none;
    font-size:1rem;
    color:#707070;
    margin-top:8px;
    border:1px solid #ddd;
    border-radius:6px;
    padding:0 15px;
}

.column{
    display:flex;
    column-gap:15px;
}
#submitbtn{
    height:55px;
    width:100%;
    color:#fff;
    font-size:1.2rem;
    border:none;
    margin-top:30px;
    cursor:pointer;
    border-radius:6px;
    font-weight:400;
    transition:all 0.2s ease;
    background-color:green;
}
#submitbtn:hover {
        background-color: forestgreen;
    }

.sign-in-text {
    text-align: center;
    margin-top: 20px;
}

    .sign-in-text a {
        color: #28a745;
        text-decoration: none;
        font-weight: bold;
    }


    /*footer*/
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

footer {
    background-color: #333
}

.footerContainer {
    width: 100%;
    padding: 50px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

    .socialIcons a {
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }

        .socialIcons a i {
            font-size: 2em;
            color: black;
            opacity: 0.9;
        }

        .socialIcons a:hover {
            background-color: #111;
            transition: 0.5s;
        }

            .socialIcons a:hover i {
                color: white;
                transition: 0.5s;
            }

.footerNav {
    margin: 30px 0;
}

    .footerNav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

        .footerNav ul li a {
            color: white;
            margin: 20px;
            text-decoration: none;
            font-size: 1.3em;
        }

footer p {
    color: white;
    text-align: center;
    font-size: 0.9em;
}
