* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo img {
    max-width: 400px;
    margin-bottom: 20px;
}


.para1 {
    font-size: 40px;
    color: #003366;
    text-align: center;
}
.para2 {
    font-size: 20px;
    text-align: justify;
    margin: 40px;
    color: #003366;
}

.right-section {
    width: 60%;
    background-color: #004080;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 500px;
   
}


    .login-box h2 {
        margin-bottom: 20px;
        margin-top: 5px;
        font-size: 24px;
        text-align: center;
    }

    .login-box label {
        display: block;
        margin: 10px 0 5px;
        font-size: 14px;
    }

    .login-box input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-box a {
        color: #004080;
        text-decoration: none;
        font-size: 12px;
    }

    .login-box button {
        width: 100%;
        height:50px;
        padding: 10px;
        background-color: #004080;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size:1.2em;
        margin-top:10px;
    }

    

        .login-box button:hover {
            background-color: #003366;
        }

    .login-box p {
        margin-top: 10px;
        font-size: 12px;
    }

        .login-box p a {
            color: #004080;
            text-decoration: underline;
        }


        .password-img{
            width:100%;
            height:auto;
        }
