

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.body1{
    background-size: cover;
    background-position: center;
   
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

/* notification button , sign up , login  bar */

nav1 ul {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 0; 
   
}

nav1 ul li {
        float: right;
        padding: 10px 4px 0px 4px;
    }

.btn1 {
    width: 70px;
    height: 30px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}


/*logo */
.logo {
    width: 200px;
    height: 150px;
    margin-left: 680px;
    overflow: hidden; 
}
.logo img {
    
    width: 100%;
    height: auto;
}
/* Menu bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

    nav ul li {
        float: left;
        
    }
    
nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px 30px;
            text-decoration: none;
        }



    nav ul li a:hover {
        background-color: darkgoldenrod;
    }

nav ul li a.active{
    background-color:darkgoldenrod;
}

/*search bar and search button*/

nav .search-container {
    float: right;
    padding-left: 200px;
}

nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

nav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width:32px;
    height:32px;
    
}
    nav .search-container button:hover {
        background: #ccc;
    }



/* slidders */

main{
    width:70%;
    height:400px;
    box-shadow:0px 0px  50px grey;
    border-radius:30px;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
    margin-bottom:20px;
    position:relative;
    overflow:hidden;

}
.slide {
    width: 100%;
    height: 100%;
    position: absolute; 
}


.nav2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom:30px;
    
}
.nav2 button{
    font-size:25px;
    padding: 5px;
    border:none;
    cursor:pointer;
}

.btnP {
    border-radius: 50px 0px 0px 50px;
    margin-right: 5px;
}
.btnN {
    border-radius: 0px 50px 50px 0px;
    margin-left: 5px;
}
.body2{
    background-size: cover;
    background-position: center;
    margin: 0px;
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
}
.p1 {
    font-size: 70px;
    text-align:center;
    font-family:Calibri
   
}
.p2 {
    font-size: 25px;
    text-align: center;
    font-family: Calibri
}

/*cards*/

.card-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:100px;
}
.card{
    width:370px;
    height:430px;
    background-color:darkgoldenrod;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0px 15px 15px 0;
    margin:25px;
    transition:transform 0.6s ease;
}
.card:hover{
    transform:translateY(-20px);
}
.card img{
    width:100%;
    height:auto;
}
.card-content{
    padding:16px;
}
.card-content h3{
    font-size:28px;
    margin-bottom:8px;
}
    .card-content p {
        color: #333;
        font-size: 15px;
        line-height: 1.3;
    }

/*footer*/

footer {
    background-color: #333
}
.footerContainer{
    width:100%;
    padding: 30px 30px 20px;
}
.socialIcons{
    display:flex;
    justify-content:center;
}
.socialIcons a{
    text-decoration:none;
    padding:10px;
    background-color:white;
    margin:10px;
    border-radius:50%;
}
.socialIcons a i{
        font-size:2em;
        color:black;
        opacity:0.9;
    }
    .socialIcons a:hover {
        background-color:#111;
        transition:0.5s;
    }
    .socialIcons a:hover i{
        color:white;
        transition: 0.5s;
    }


.footerNav{
    margin:30px 0;
}
    .footerNav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    .footerNav ul li a{
        color:white;
        margin:20px;
        text-decoration:none;
        font-size:1.3em;
    }
  footer p{
      color:white;
      text-align:center;
      font-size:0.9em;
  }  


  


  