/*body
{
	background-image:url("../images/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}*/

.container {
   display:flex;
   padding: 20px;
}

.content-terms{
   align-items: center;
   justify-content: center;
}

h1 {
    color: #004080;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: #004080;
    font-size: 24px;
    margin-top: 20px;
}

p {
    color: #333333;
    font-size: 17px;
    line-height: 1.6;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgoldenrod;
}
.hidden{
    display: none;
}
/* For mobile responsiveness */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}
